@model Pine.Models.Entities.PostsViewModel
@{
    ViewData["Title"] = "All Posts";
}
<a class="CreateButton" asp-area="" asp-controller="Community" asp-action="CreatePost">+ Create Post</a>
<br />
<div class="transbox">
    @if (Model.posts.Count == 0)
    {
        <div>There are currently no posts. Make one and start a discussion!</div>
    }
    else
    {

    <a class="SortByButton" asp-area="" asp-controller="Community" asp-action="AllPosts">Recent posts</a>
    <a class="SortByButton" asp-area="" asp-controller="Community" asp-action="AllPostsSortByDateAscending">Oldest posts</a>
    <br />
    @foreach (var post in Model.posts)
    {
        <partial name="./PostCard.cshtml" model=@post />
    }
    }
</div>
