@model Pine.Models.Entities.PostsViewModel
@{
    ViewData["Title"] = "All Posts";
}
    <a class="CreateButton" asp-area="" asp-controller="Community" asp-action="CreatePost">+ Create Post</a>
<br />
<div>
    @if(Model.posts.Count == 0)
    {
        <div>There are currently no posts. Make one and start a discussion!</div>
    }
    else
    {
        <div>
            @foreach(var post in Model.posts)
            {
                <partial name="./PostCard.cshtml" model=@post />
            }
        </div>
    }
</div>
