@model Pine.Models.Entities.CommunitiesViewModel
@{
    ViewData["Title"] = "Communities";
}

<a class="CreateButton" asp-controller="Community" asp-action="CreateCommunity">+ Create Community</a>

<div>
    @if (Model.communities.Count == 0)
    {
        <div>There are currently no posts. Make one and start a discussion!</div>
    }
    else
    {
        <div class="transbox">
            @foreach (var community in Model.communities)
             {
                <p>@community.name</p>
             }
        </div>
    }
</div>
