@model Pine.Data.Entities.Community

@{
    ViewData["Title"] = @Model.name;
}
<a type="submit" asp-controller="Community" asp-action="CreatePost" asp-route-communityId="@Model.id" class="CreateButton">+ Create post</a>
<a type="submit" asp-controller="Community" asp-action="JoinCommunity" asp-route-communityName="@Model.name">Join community</a>

<center>
    <h1 style="color:#00ff21">@Model.name</h1>
</center>
@foreach (var post in Model.communityPosts)
{
<partial name="./PostCard.cshtml" model=@post />
}