@model Pine.Data.Entities.Community

@{
    ViewData["Title"] = "Community";
}
<div class="form-group">
    <a type="submit" asp-controller="Community" asp-action="CreatePost" asp-route-communityId="@Model.id">Create post</a>
    <a type="submit" asp-controller="Community" asp-action="JoinCommunity" asp-route-model="@Model">Join community</a>

</div>
   
<center>
    <h1 style="color:#00ff21">@Model.name</h1>
    @if (Model.communityPosts != null)
    {
        @foreach (var p in Model.communityPosts)
        {

            <p> @p.title</p>
        }
    }


</center>