@model Pine.Models.Entities.CommunitiesViewModel
@{
    ViewData["Title"] = "Communities";
}

<a class="CreateButton" asp-controller="Community" asp-action="CreateCommunity">+ Create Community</a>

<div>
    @if (Model.communities.Count == 0)
    {
        <div>There are currently no Communities yet. Make one and invite your friends!</div>
    }
    else
    {
        <div class="transbox">
            @foreach (var community in Model.communities)
             {
            <partial name="./CommunityCard.cshtml" model=@community />
             }
        </div>
    }
</div>
