@model Pine.Models.Entities.CommunityViewModel

@{
    ViewData["Title"] = "Create a community";
}
<h1 style="color: #00ff21;">Make a Community</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Community" asp-action="CreateCommunity" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Name</label>
                <input asp-for="name" class="titleInput" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Description</label>
                <textarea asp-for="description" class="post-comm-description"> </textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isPrivate" class="control-label">Private?</label>
                <input asp-for="isPrivate" class="control-label">
                <span asp-validation-for="isPrivate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isAnonymous" class="control-label">Anonymous?</label>
                <input asp-for="isAnonymous" class="control-label">
                <span asp-validation-for="isAnonymous" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}