@model Pine.Models.Entities.PostViewModel

@{
    ViewData["Title"] = "Create a post";
}

<h1 style="color: #00ff21;">Make a post</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Community" asp-action="CreatePost" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label">Title</label>
                <input asp-for="title" class="titleInput" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Description</label>
                <textarea asp-for="description" class="post-comm-description"> </textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tags" class="control-label">Tags</label>
                <input asp-for="tags" class="form-control" />
                <span asp-validation-for="tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}