@{
    ViewData["Title"] = "404 Not Found";
}

<body class="body404">
    <center>
        <p style="font-size: 100px; font-weight:bold; font-family: fantasy; color:saddlebrown;">
            404
            <br />
            Not
            <br />
            Found
        </p>
        <p style="color:saddlebrown;">The URL entered was not found. See if it's misspelled?</p>
    </center>
</body>