@using Pine.Models.Entities
@model ChatsViewModel



@if (Model.chats != null)
{
    @foreach (var chat in Model.chats)
    {
      <p>@chat.name</p>
    }
}
else
{
<p>Threre are no chats at the moment</p>
}
