@model Pine.Models.Entities.InputComment

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Comment" asp-action="CreateComment" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="postId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label"></label>
                <textarea asp-for="content" class="form-control commentInput" /> </textarea>
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <div class="uploadImg" id="uploadImg">
                <input asp-for="Img" type="file" name="Img" accept=".png,.jpg,.jpeg,.gif">
                <p>Drag your files here or click this area.</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
$(document).ready(function () {
        $('form input').change(function () {
            $('form p').text(this.files.length + " file(s) selected");
        });
});
</script>