/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
a {
    color: aqua;
}
/* Provide sufficient contrast against white background */
.btn-primary {
    color: #fff;
    background-color: #00e9ff;
    border-color: #1861ac;
}

.btn-green {
    color: #fff;
    background-color: #0ea100;
    border-color: #0ea100;
}

.btn-purple {
    color: #fff;
    background-color: #9a00ff;
    border-color: #7500ff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #000;
    color: #d5d5d5;
    overflow-x: hidden;
    background-image: url(/css/Images//main-background.png);
    display: flex;
    flex-direction: column;
}

div.transbox {
    flex-grow: 4;
    width: 100%;
    height: calc(100vh - 10px);
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(14, 14, 16, 0.85);
    border-top: rgba(0, 0, 0, 0.35);
    padding-top: 10px;
    padding-left: 9%;
    padding-right: 1%;
    margin-left: 0px;
}

    div.transbox p {
        margin: 5%;
        color: #000000;
    }

img {
    border: hidden;
    border-radius: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/*Top left button, site logo*/
.RGBButton {
    background-color: transparent;
    border-color: transparent;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 0;
    margin: 0;
    border: 0;
}

    .RGBButton:focus {
        outline: 0;
    }
/*+ button such as Create Post, Create Listing etc.*/
.CreateButton {
    float: right;
    font-size: 36px;
    height:60px;
    fill-opacity: 0.5;
    background-color: #00bc0f;
    border: solid 2px;
    border-color: darkgreen;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

    .CreateButton:hover {
        background-color: #0a7600;
        text-decoration: none;
    }
/*for big textareas*/
.post-comm-description {
    min-width: 30px;
    max-width: 1000px;
    width: 1000px;
    height: 250px;
    border-radius: 15px;
    white-space: pre-line;
    resize: both;
}
/*textarea for comments*/
.commentInput{
    max-width: 1000px;
    resize: both;
}
/*title input for posts/listings*/
.titleInput {
    min-width: 30px;
    max-width: 1000px;
    width: 1000px;
    border-radius: 5px;
}
/*edit/delete post buttons*/
.moderationButtons {
    margin-bottom: 0px;
    float: right;
    margin-left: 1%;
}
/*buy listing button*/
.buyButton {
    min-width: 50px;
    min-height: 40px;
    background-color: #00ff34;
    border: 2px solid #0ea100;
    color: black;
}
/*tooltips on mouseover*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color: white;
    opacity: 1;
    font-weight: bold;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 500px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        transition: opacity 0.3s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
/*sorting buttons on posts/listings*/
.SortByButton {
    fill-opacity: 0.5;
    background-color: rgb(3,164,94);
    border: solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: black !important;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 35px;
    margin-right: 0.5%;
}

    .SortByButton:hover {
        background-color: rgb(52, 230, 89);
        color: black !important;
        text-decoration: none;
    }
/*main site container, messes everything up*/
.containerMain{
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 5%;
}
/*red logout button*/
.logoutButton {
    font-family: fantasy;
    font-size: 20px;
    color: #ff0000 !important;
    position: absolute;
    right: 0px;
    text-shadow: 2px 2px 10px #000;
}
.logoutButton:hover{
    color: #8a0000 !important;
}
/*404 page customizations*/
.body404 {
    background-image: url(Images/404-background.png);
    background-position-y: 100%;
    background-position-x: -10%;
    background-repeat: no-repeat;
    background-color: white;
}
/*comment view*/
.commentCard {
    position: relative;
    width: 90%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #000;
    background-clip: border-box;
    border-radius: 6px;
    margin-top: 15px;
    float: right;
    border: 1.5px solid black;
}
/*comment card header/title*/
.commentHeader {
    padding: 0.75rem 1.25rem;
    padding-top: 0.4rem;
    margin-bottom: 0;
    background-color: rgb(56, 66, 65);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
}
/*comment card body/content*/
.commentBody {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: rgb(3, 164, 94);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}
/*file upload box, drag-n-drop style*/
.uploadImg {
    width: 500px;
    height: 200px;
    border: 4px dashed #fff;
    margin-bottom: 5%;
}

    .uploadImg p {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 170px;
        color: #ffffff;
        font-family: Arial;
    }

    .uploadImg input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 165%;
        height: 25%;
        outline: none;
        opacity: 0;

    }
/*top-bottom repeat moving animation*/
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100px);
    }
}