/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #00e9ff;
  border-color: #1861ac;
}
.btn-green {
    color: #fff;
    background-color: #0ea100;
    border-color: #0ea100;
}
.btn-purple {
    color: #fff;
    background-color: #9a00ff;
    border-color: #7500ff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #000;
    color: #d5d5d5;
    overflow-x: hidden;
}

div.transbox {
    margin: 30px;
    background-color: gray;
    border: 2px solid gray;
    opacity: 0.6;
    color: #;
    border-radius: 25px;
}

    div.transbox p {
        margin: 5%;
        font-weight: bold;
        color: #000000;
    }

img {
    border: hidden;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}

.backgroundImage {
    -webkit-animation: mover 15s infinite alternate;
    animation: mover 15s infinite alternate;
    /*max-height:100%;
    max-width:100%;*/
    position: absolute;
    transform: scale(5) !important;
    overflow: hidden;
    z-index: -1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.RGBButton {
    background-color: transparent;
    border-color: transparent;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    padding: 0;
    margin: 0;
    border: 0;
}
.RGBButton:focus {
    outline: 0;
}

.CreateButton {
    fill-opacity: 0.5;
    background-color: #00e018;
    border: solid 2px;
    border-color: darkgreen;
    border-radius: 2px;
    color: white !important;
    float: right;
    transform: scale(2);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: inherit !important;
    opacity: 0.9 !important;
    margin-right: 4.9%;
}
.CreateButton:hover{
    background-color: #0ea100
}

.post-comm-description {
    min-width: 30px;
    max-width: 1000px;
    width: 1000px;
    height: 250px;
    border-radius: 15px;
    white-space: pre-line;
}

.titleInput{
    min-width:30px;
    max-width:1000px;
    width: 1000px;
    border-radius: 5px;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
    }
}