@model Pine.Models.Entities.UserPanelInputModel

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="EditUser" asp-route-userName="@User.Identity.Name" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userDescription" class="control-label">My Info</label>
                <textarea asp-for="userDescription" style="font-size: 16px; width: 500px;" class="post-comm-description" /> </textarea>
                <span asp-validation-for="userDescription" class="text-danger"></span>
            </div>
            <div class="uploadImg">
                <p style="display:inline-block; font-size: 16px;">Drag your profile picture here or click this area.</p>
                <input asp-for="profilePicture" type="file" name="profilePicture" style="position: relative; width: 100%; height: 100%; display:inline-block; top: -110%">
            </div>
            <p style="display:inline-block; font-size: 16px;">Upload your .css file here.</p>
            <input asp-for="userCss" type="file" name="userCss" style="position: relative; width: 100%; height: 100%; display:inline-block; top: -110%">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}