@model Pine.Data.Identity.User

@{
    ViewData["Title"] = Model.UserName;
}

<h1 style="color:aqua">@Html.DisplayFor(model => model.UserName)</h1>

<h2 style="color:aqua">Posts:</h2>
@Html.DisplayFor(model => model.posts)

<h2 style="color:aqua">Listings:</h2>
@Html.DisplayFor(model => model.listings)