@model IEnumerable<Pine.Data.Entities.Chat>

    <div class="side-menu">
        @foreach(var chat in Model){
        <a class="room-button" asp-controller="Home" asp-action="Chat" asp-route-id="@chat.id">
            @chat.name
        </a>
        }

        <a class="room-button" id="create-room-btn" href="#">
            <strong>+</strong>
        </a>
    </div>